<footer class="site-footer">
  <div class="container footer__grid">
    <div>
      <h3>Obrato</h3>
      <p>Servicios premium de ornamentación, conserjería, jardinería y apoyo operativo para edificios, oficinas y comercios.</p>
    </div>
    <div>
      <h4>Enlaces</h4>
      <ul>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/sectores">Sectores</a></li>
        <li><a routerLink="/casos">Casos</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/privacidad">Privacidad</a></li>
      </ul>
    </div>
    <div>
      <h4>Contacto</h4>
      <ul>
        <li>hola@obrato.co</li>
        <li>+57 300 000 0000</li>
        <li>Bogotá, Colombia</li>
        <li>Lun - Sáb: 7:00 a.m. - 6:00 p.m.</li>
      </ul>
    </div>
    <div>
      <h4>Redes</h4>
      <ul>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p>© 2026 Obrato. Todos los derechos reservados.</p>
  </div>
</footer>
